*{
    margin: 0;
    padding: 0;
}
.MainContainer{
    display: flex;
    flex-direction: column;
}
.Navbar{
    border: 2px solid green;
    height: 40px;
}

.Content{
    border: 2px solid red;
    display: flex;
    height: 60vh;
}

.Left{
    width: 25%;
    border: 1px solid yellow;
}

.Center{
    width: 50%;
    border: 1px solid blue;
}

.Right{
    width: 25%;
    border: 1px solid gray;
}
.Left .image-container{
    display: flex;
    align-items: center;
}

.Center .image-container{
    display: flex;
}

.Center .image-container span{
    margin-top: 10px;
}

.icons{
    font-size: 80px;
    padding: 10px;
}
/* .Welcome {
    background-color: aqua;
} */
